extends layout

block content
    div(class='form-container')
        form(method='POST' action='/new')
            input(type='text' placeholder='Title' name='title')
            input(type='text' placeholder='Enter some info!' name='mainContent')
            input(type='text' placeholder='Username' name='username')
            input(type='submit' value='Post')
    