extends layout

block content
  button(onclick="location.href='./new';" class='request-form-bttn') got something to say? 
  each message in messages
    div(class='card')
      h1(class='card-header')=message.title
      p(class='content')=message.mainContent
      div(class='span-container')
        span=message.user
        span=message.timeElapsed

