extends layout

block content
  div(class='main-content')
    button(onclick="location.href='./new';" class='request-form-bttn') got something to say? 
    div
      each message in messages
        h1=message.user
        ul
          li=message.title
          li=message.mainContent
          li=message.added

