doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(class='top-ribbon')
      h1(class='header') Message Board
      h4(class='header') speak your mind freely
    block content
